# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings
*.sublime-workspace
*.sublime-project

# OS specific files
.DS_Store
Thumbs.db

# Project specific
correction_model_workflow/mcsh_2_rcut_2.0
correction_model_workflow/mcsh_2_rcut_2.0.zip

# Jupyter Notebook
.ipynb_checkpoints
# *.ipynb

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sqlite
*.db

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/